<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Weather | Today</title>
  </head>
  <body>
    <h1>Weather Today</h1>
    <form action="" method="get">
        {% csrf_token %}
        <label for="city">Enter City Name:</label>
        <input type="text" id="city" name="city" required>
        <button type="submit">Get Weather</button>
    </form>
    <p><strong>City: </strong> {{ weather_data.name }}</p>
    <p><strong>Temperature: </strong> {{ weather_data.main.temp }}</p>
    <p><strong>Temperature: </strong> {{ weather_data.main.temp }}</p>
    <p><strong>Feels Like: </strong> {{ weather_data.main.feels_like }}</p>
    

  </body>
</html>
