*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

h1{
    font-size: 200px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 8px;

    color: transparent;
    background-image: linear-gradient(orange,white,green);
    background-clip: text;
}