<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feedbacks</title>
</head>
<body>
    <h1>All Feedbacks</h1>
    <table border="2" cellpadding="5">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Feedback</th>
        </tr>
        {% for feed in feedbacks %}
        <tr>
            <td>{{ feed.id }}</td>
            <td>{{ feed.name }}</td>
            <td>{{ feed.feedback }}</td>

        </tr>
        {% endfor %}
    </table>
</body>
</html>