{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
  </head>
  <body>
    <div class = 'container'>
      <h1>Welcome to the Feedback app</h1>
      <div class="btn">
        <a href="{% url 'form' %}"><button>Submit Feedback</button></a>
        <a href="{% url 'feedback' %}"><button>View Feedback</button> </a>
      </div>
    </div>
  </body>
</html>
