<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django Form | Details</title>
</head>
<body>
    <h1>All Data</h1>

    {% for d in data %}
    <strong>ID: </strong>{{d.id}} <br>
    <strong>Name: </strong>{{d.name}} <br>
    <strong>Age: </strong>{{d.age}} <br>
    <strong>Email: </strong>{{d.email}} <br><br>
    <a href="{% url 'delete' d.id %}"><button>Delete</button></a>
    <a href="{% url 'update' d.id %}"><button>Update</button></a>
    <hr>
{% endfor %}

</body>
</html>